<a href="https://colab.research.google.com/github/Riteshzzz/BOOK-RECOMMENDATION-ENGINE-/blob/main/Assignment_For_Matching_Client_Data_with_LabReport_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tabula-py #We need java programming installed in your system for run this tabula Library

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.5.1-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 4.6 MB/s
Collecting distro
  Downloading distro-1.7.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.7.0 tabula-py-2.5.1

In [ ]:
#

# Import Dependencies/Libraries:

In [69]:
import tabula
import pandas as pd

# Extract The Data From The Pdf

In [70]:
df = tabula.read_pdf('/content/GFX0202827-pages-2.pdf', pages = 1)

In [71]:
df

[  PATIENT NAME JITENDER DAGAR
 0  AGE (YEARS)             35
 1  WEIGHT (KG)            142
 2       GENDER           MALE
 3  HEIGHT (CM)            178
 4   PATIENT ID   VI2203092576
 5      TEST ID       NMC-WL01,
               SAMPLE TYPE                              SALIVA
 0  SAMPLE COLLECTION DATE                          21/01/2022
 1  REPORT GENERATION DATE                          12/03/2022
 2    REFERRED BY (DOCTOR)  Vieroots Wellness Solution Pvt ltd
 3  REFERRED BY (HOSPITAL)                                 N/A]

# Make a DataFrame For the GFX0202827 Report

In [72]:
GFX0202827=pd.DataFrame({'PATIENTNAME':['ITENDER DAGAR'],'AGE(YEARS)':['35'],'WEIGHT (KG)': ['142'],'GENDER':['MALE'],'HEIGHT (CM)':['178'],'PATIENT ID': ['VI2203092576'],'TEST ID':['NMC-WL01'],'SAMPLE TYPE':['SALIVA'],'SAMPLE COLLECTION DATE':['21/01/2022'],'REPORT GENERATION DATE':['12/03/2022']})
GFX0202827

,PATIENTNAME,AGE(YEARS),WEIGHT (KG),GENDER,HEIGHT (CM),PATIENT ID,TEST ID,SAMPLE TYPE,SAMPLE COLLECTION DATE,REPORT GENERATION DATE
0,ITENDER DAGAR,35,142,MALE,178,VI2203092576,NMC-WL01,SALIVA,21/01/2022,12/03/2022

In [73]:
GFX0202827.columns

Index(['PATIENTNAME', 'AGE(YEARS)', 'WEIGHT (KG)', 'GENDER', 'HEIGHT (CM)',
       'PATIENT ID', 'TEST ID', 'SAMPLE TYPE', 'SAMPLE COLLECTION DATE',
       'REPORT GENERATION DATE'],
      dtype='object')

# Make a DataFrame For Client Data:

In [75]:
client_Data=pd.DataFrame({"id": ["2"],
                         "first_name": ["JITENDER"], 
                         "middle_name": [" "], 
                         "last_name": ["DAGAR"],
                         "email": ["athulk@webandcrafts.in"],
                         "country_code": ["+91"],
                         "phone": ["9072482174"],
                         "sex": ["male"], 
                         "country_id":["1"], 
                         "language_id": ["1"],
                         "dob":["1999-10-02"],
                         "height": ["178"],
                         "weight": ["142"], 
                         "address": ["address"], 
                         "city": ["Thrissure"], 
                         "state": ["kerala"], 
                         "pincode":["679865"], 
                         "blood_group": ["A+ve"],
                         "ethnicity":[" "], 
                         "marital_status": [" "],
                         "occupation":[" "], 
                         "longitude":[" "],
                         "latitude": [" "]})

In [76]:
client_Data

,id,first_name,middle_name,last_name,email,country_code,phone,sex,country_id,language_id,...,address,city,state,pincode,blood_group,ethnicity,marital_status,occupation,longitude,latitude
0,2,JITENDER,,DAGAR,athulk@webandcrafts.in,+91,9072482174,male,1,1,...,address,Thrissure,kerala,679865,A+ve,,,,,

In [145]:
client_Data.columns

Index(['id', 'first_name', 'middle_name', 'last_name', 'email', 'country_code',
       'phone', 'sex', 'country_id', 'language_id', 'dob', 'height', 'weight',
       'address', 'city', 'state', 'pincode', 'blood_group', 'ethnicity',
       'marital_status', 'occupation', 'longitude', 'latitude'],
      dtype='object')

# Required Attributes For Comparison:

In [64]:
attributes1=['PATIENTNAME','AGE(YEARS)','WEIGHT (KG)','GENDER','HEIGHT (CM)']

In [65]:
for i in attributes1:
    print([GFX0202827[i]])

[0    ITENDER DAGAR
Name: PATIENTNAME, dtype: object]
[0    35
Name: AGE(YEARS), dtype: object]
[0    142
Name: WEIGHT (KG), dtype: object]
[0    MALE
Name: GENDER, dtype: object]
[0    178
Name: HEIGHT (CM), dtype: object]

# Comparison Using Loop With User Define Function:

In [132]:
def user_input(X):
    for i in attributes1:
        for j in X.columns:
          if GFX0202827[i].equals(X[j]):
            print([(i,j),'Matched'])
          else:
            print((i,j),'Not Matched')
    return

# Results:

In [144]:
user_input(client_Data)

('PATIENTNAME', 'id') Not Matched
('PATIENTNAME', 'first_name') Not Matched
('PATIENTNAME', 'middle_name') Not Matched
('PATIENTNAME', 'last_name') Not Matched
('PATIENTNAME', 'email') Not Matched
('PATIENTNAME', 'country_code') Not Matched
('PATIENTNAME', 'phone') Not Matched
('PATIENTNAME', 'sex') Not Matched
('PATIENTNAME', 'country_id') Not Matched
('PATIENTNAME', 'language_id') Not Matched
('PATIENTNAME', 'dob') Not Matched
('PATIENTNAME', 'height') Not Matched
('PATIENTNAME', 'weight') Not Matched
('PATIENTNAME', 'address') Not Matched
('PATIENTNAME', 'city') Not Matched
('PATIENTNAME', 'state') Not Matched
('PATIENTNAME', 'pincode') Not Matched
('PATIENTNAME', 'blood_group') Not Matched
('PATIENTNAME', 'ethnicity') Not Matched
('PATIENTNAME', 'marital_status') Not Matched
('PATIENTNAME', 'occupation') Not Matched
('PATIENTNAME', 'longitude') Not Matched
('PATIENTNAME', 'latitude') Not Matched
('AGE(YEARS)', 'id') Not Matched
('AGE(YEARS)', 'first_name') Not Matched
('AGE(YEARS)', 'middle_name') Not Matched
('AGE(YEARS)', 'last_name') Not Matched
('AGE(YEARS)', 'email') Not Matched
('AGE(YEARS)', 'country_code') Not Matched
('AGE(YEARS)', 'phone') Not Matched
('AGE(YEARS)', 'sex') Not Matched
('AGE(YEARS)', 'country_id') Not Matched
('AGE(YEARS)', 'language_id') Not Matched
('AGE(YEARS)', 'dob') Not Matched
('AGE(YEARS)', 'height') Not Matched
('AGE(YEARS)', 'weight') Not Matched
('AGE(YEARS)', 'address') Not Matched
('AGE(YEARS)', 'city') Not Matched
('AGE(YEARS)', 'state') Not Matched
('AGE(YEARS)', 'pincode') Not Matched
('AGE(YEARS)', 'blood_group') Not Matched
('AGE(YEARS)', 'ethnicity') Not Matched
('AGE(YEARS)', 'marital_status') Not Matched
('AGE(YEARS)', 'occupation') Not Matched
('AGE(YEARS)', 'longitude') Not Matched
('AGE(YEARS)', 'latitude') Not Matched
('WEIGHT (KG)', 'id') Not Matched
('WEIGHT (KG)', 'first_name') Not Matched
('WEIGHT (KG)', 'middle_name') Not Matched
('WEIGHT (KG)', 'last_name') Not Matched
('WEIGHT (KG)', 'email') Not Matched
('WEIGHT (KG)', 'country_code') Not Matched
('WEIGHT (KG)', 'phone') Not Matched
('WEIGHT (KG)', 'sex') Not Matched
('WEIGHT (KG)', 'country_id') Not Matched
('WEIGHT (KG)', 'language_id') Not Matched
('WEIGHT (KG)', 'dob') Not Matched
('WEIGHT (KG)', 'height') Not Matched
[('WEIGHT (KG)', 'weight'), 'Matched']
('WEIGHT (KG)', 'address') Not Matched
('WEIGHT (KG)', 'city') Not Matched
('WEIGHT (KG)', 'state') Not Matched
('WEIGHT (KG)', 'pincode') Not Matched
('WEIGHT (KG)', 'blood_group') Not Matched
('WEIGHT (KG)', 'ethnicity') Not Matched
('WEIGHT (KG)', 'marital_status') Not Matched
('WEIGHT (KG)', 'occupation') Not Matched
('WEIGHT (KG)', 'longitude') Not Matched
('WEIGHT (KG)', 'latitude') Not Matched
('GENDER', 'id') Not Matched
('GENDER', 'first_name') Not Matched
('GENDER', 'middle_name') Not Matched
('GENDER', 'last_name') Not Matched
('GENDER', 'email') Not Matched
('GENDER', 'country_code') Not Matched
('GENDER', 'phone') Not Matched
('GENDER', 'sex') Not Matched
('GENDER', 'country_id') Not Matched
('GENDER', 'language_id') Not Matched
('GENDER', 'dob') Not Matched
('GENDER', 'height') Not Matched
('GENDER', 'weight') Not Matched
('GENDER', 'address') Not Matched
('GENDER', 'city') Not Matched
('GENDER', 'state') Not Matched
('GENDER', 'pincode') Not Matched
('GENDER', 'blood_group') Not Matched
('GENDER', 'ethnicity') Not Matched
('GENDER', 'marital_status') Not Matched
('GENDER', 'occupation') Not Matched
('GENDER', 'longitude') Not Matched
('GENDER', 'latitude') Not Matched
('HEIGHT (CM)', 'id') Not Matched
('HEIGHT (CM)', 'first_name') Not Matched
('HEIGHT (CM)', 'middle_name') Not Matched
('HEIGHT (CM)', 'last_name') Not Matched
('HEIGHT (CM)', 'email') Not Matched
('HEIGHT (CM)', 'country_code') Not Matched
('HEIGHT (CM)', 'phone') Not Matched
('HEIGHT (CM)', 'sex') Not Matched
('HEIGHT (CM)', 'country_id') Not Matched
('HEIGHT (CM)', 'language_id') Not Matched
('HEIGHT (CM)', 'dob') Not Matched
[('HEIGHT (CM)', 'height'), 'Matched']
('HEIGHT (CM)', 'weight') Not Matched
('HEIGHT (CM)', 'address') Not Matched
('HEIGHT (CM)', 'city') Not Matched
('HEIGHT (CM)', 'state') Not Matched
('HEIGHT (CM)', 'pincode') Not Matched
('HEIGHT (CM)', 'blood_group') Not Matched
('HEIGHT (CM)', 'ethnicity') Not Matched
('HEIGHT (CM)', 'marital_status') Not Matched
('HEIGHT (CM)', 'occupation') Not Matched
('HEIGHT (CM)', 'longitude') Not Matched
('HEIGHT (CM)', 'latitude') Not Matched

# Conclusion:

#### From above coparision we concluded that only the attributes of 'WEIGHT (KG)'and 'HEIGHT (CM) match with the GFX0202827 labreport ###